.card__icon-button .like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .like-icon .main-body {
	fill: var(--heart-static-color);
	transition: fill 0.3s;
}

.card__icon-button:active .like-icon .main-body {
	fill: var(--heart-dynamic-color);
	transition: fill 0.3s;
}

.card__icon-button:hover .like-icon.is-liked .main-body {
	fill: var(--heart-dynamic-color);
}

.like-icon.is-liked .main-body {
	fill: var(--heart-dynamic-color);
	transition: fill 0.3s 0.03s;
}

.card__icon-button .like-icon .core {
	fill: transparent;
	transition: fill 0.3s;
}

.card__icon-button:hover .like-icon .core {
	fill: var(--heart-static-color);
	transition: fill 0.3s 0.03s;
}

.card__icon-button:active .like-icon .core {
	fill: var(--heart-dynamic-color);
	transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .like-icon.is-liked .core {
	fill: var(--heart-dynamic-color);
}

.like-icon.is-liked .core {
	fill: var(--heart-dynamic-color);
	transition: fill 0.3s;
}

.like-icon.is-liked .contour {
	fill: var(--heart-dynamic-color);
	transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: like-activate 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
	animation: sparks 0.3s ease-in 0.3s;
}

.like-icon .contour {
	fill: var(--heart-static-color);
	transition: fill 0.1s linear;
}

@keyframes like-activate {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.25);
	}
}

@keyframes sparks {
	from {
		fill: transparent;
	}
	to {
		fill: var(--heart-dynamic-color);
	}
}