.page {
  z-index: -100;
  justify-items: center;
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-card-text);
  font-size: var(--card-font-size);
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  justify-items: center;
  align-content: center;
  margin-top: 99px;
  border: 2px solid var(--block-border-color);
  padding: var(--header-padding);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accented-text);
  text-transform: uppercase;
  background-color: var(--block-background-color);
  inline-size: var(--block-widht);
}

.header-title {
  font-size: var(--main-title-font-size);
}

.header-subtitle {
  margin-top: 20px;
  font-size: var(--main-subtitle-font-size);
}

.content {
  margin-top: 95px;
  inline-size: var(--block-widht);
}

.card {
  margin-top: 50px;
  border: 2px solid var(--block-border-color);
  background-color: var(--block-background-color);
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: var(--card-label-top);
  right: var(--card-label-right);
  z-index: 1;
  opacity: 50%;
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accented-text);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-outline-color),
    0 1px var(--text-outline-color),
    1px 0 var(--text-outline-color),
    0 -1px var(--text-outline-color);
  mix-blend-mode: hard-light;
}

.card__image {
  border-top: 2px solid var(--block-border-color);
  border-bottom: 2px solid var(--block-border-color);
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 24px 25px 0;
  line-height: 21px;
}

.card__control-elements {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 6px;
  padding: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  padding: 0;
  background: none;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  box-shadow: inset 0 0 0 2px var(--block-border-color);
}

.card__like-button {
  padding: 0;
  background: none;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--block-background-color);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accented-text);
  font-size: 14px;
  mix-blend-mode: difference;
}

.dialog-button-open {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 2px solid var(--block-border-color);
  padding: var(--dialog-open-paddings);
  line-height: 90%;
  max-inline-size: var(--dialog-button-size);
}

.floppy-icon {
  width: var(--floppy-icon-width);
  height: var(--floppy-icon-height);
}

.dialog {
  display: none;
}

.dialog-button:focus {
  outline: none;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px var(--block-background-hover-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 0;
  border: 2px solid var(--block-border-color);
  padding: var(--dialog-paddings);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accented-text);
  font-size: 14px;
  text-transform: uppercase;
  max-inline-size: var(--dialog-open-size);
}

.dialog__content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  line-height: 150%;
}

.dialog[open] .dialog__content-container .floppy-icon {
  width: var(--floppy-icon-dialog-width);
  height: var(--floppy-icon-dialog-height);
}

.dialog__text {
  width: var(--dialog-close-text-width);
  height: 63px;
}

.dialog__form-container {
  inline-size: 100%;
}

.dialog__button-close {
  display: block;
  align-items: center;
  margin-block-start: 30px;
  border: 2px solid var(--block-border-color);
  padding: 10px 0;
  background: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--block-border-color);
  background: var(--block-background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0 0;
  z-index: -1;
  background-color: var(--block-background-hover-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover {
  z-index: 1;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--block-background-hover-color);
}

.filter-brightness {
  filter: brightness(70%);
}

.filter-saturate {
  filter: saturate(70%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(0.5);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-blur {
  filter: blur(0.02rem);
}

.filter-multiple {
  filter: saturate(120%) hue-rotate(10deg) contrast(110%);
}

.filter-hue-rotate {
  filter: hue-rotate(7deg);
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: var(--main-font-varitaion-settings);
  }
}

@supports(-webkit-text-stroke: 1px var(--text-outline-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-outline-color);
  }
}